<h1>About Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatem
  voluptates molestias totam sint dicta sed delectus officia impedit qui,
  molestiae modi veritatis labore nobis iusto, assumenda nostrum non. Corporis
  itaque enim magni. Iusto qui dicta, pariatur maxime a incidunt ea doloribus
  porro voluptatem delectus corrupti provident recusandae optio deleniti omnis
  enim?
</p>
<a href="/">Back Home</a>
